bosdyn-core==3.3.2
bosdyn_choreography_client==3.3.2
bosdyn_choreography_protos==3.3.2
bosdyn-client==3.3.2
bosdyn-mission==3.3.2
bosdyn-api==3.3.2
protobuf==4.22.1
setuptools==59.6.0
pytest==7.3.1
aiortc==1.5.0
image==1.5.33
