aiortc==1.5.0
bosdyn-api==4.0.2
bosdyn-choreography-client==4.0.2
bosdyn-client==4.0.2
bosdyn-core==4.0.2
bosdyn-mission==4.0.2
grpcio==1.59.3
image==1.5.33
inflection==0.5.1
protobuf==4.22.1
pytest==7.3.1
pytest-cov==4.1.0
pytest-xdist==3.5.0
setuptools==59.6.0
